---
import { Image } from "astro:assets";

interface Props {
  title: string;
  subtitle?: string;
  description: string;
  image: ImageMetadata;
  buttonPath?: string;
  buttonName?: string;
  bgColor?: string;
  descriptionColor?: string;
  titleColor?: string;
  subtitleColor?: string;
  borderColor?: string;
}

const {
  title,
  subtitle,
  description,
  image,
  buttonName,
  buttonPath,
  bgColor = "bg-purple-900",
  descriptionColor = "text-purple-950",
  titleColor = "text-lightPurple",
  subtitleColor = "text-lightPurple",
  borderColor = "border-lightPurple",
} = Astro.props;
---

<section class={`p-4 md:p-6 ${bgColor} rounded-lg shadow-2xl`}>
  <div class="p-4 md:p-8 text-blanco">
    <div
      class={`flex flex-col border-t-2 ${borderColor} md:flex-row md:items-start items-center justify-between mb-4 rounded-sm`}
    >
      <span
        class={`text-xl md:text-2xl lg:text-3xl py-2 text-center md:text-left font-bold ${titleColor}`}
      >
        {title}
      </span>
      {
        subtitle && (
          <span
            class={`text-xs md:text-sm lg:text-base md:ml-4 px-4 md:px-8 md:border-l-2 ${borderColor} ${subtitleColor}`}
          >
            {subtitle}
          </span>
        )
      }
    </div>
    <p class={`${descriptionColor} text-sm md:text-base leading-relaxed`}>
      {description}
    </p>
  </div>

  <div
    class="relative mt-2 group flex flex-col items-center px-4 md:px-8 justify-center text-center"
  >
    <Image
      src={image}
      alt={title}
      quality="mid"
      loading="lazy"
      format="avif"
      class="rounded-lg shadow-2xl aspect-square w-full h-48 md:h-64 lg:h-80 object-cover transform transition-transform duration-300 group-hover:scale-105"
    />
    {
      buttonName && buttonPath && (
        <a
          href={buttonPath}
          class="absolute bottom-4 left-1/2 transform -translate-x-1/2 bg-blanco text-purple-950 px-4 py-2 rounded-lg hover:bg-blanco/80 transition-colors duration-300"
        >
          {buttonName}
        </a>
      )
    }
  </div>
</section>
